langchain_openai
langchain_core
langchain_ollama
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
wikipedia
arxiv
langchainhub
groq
langchain-groq
beautifulsoup4
chromadb
cassio
sentence_transformers